@charset "UTF-8";

form {
	text-align: center;
	font-family: arial;
}
.emailsenha {
	margin: 20px; 
    border-radius: 6px;
    width: 165px;
    height: 22px;
}
.container {
	text-align: center; 
	background-color: #F2BFA7;
	border-radius: 10px;
	height: 500px;
	margin: auto;
	width: 300px;
	box-shadow: 3px 3px 3px 2px rgba(0.2, 0.2, 0.2, 0.2);
}

.botao-login {
	border-radius: 6px;
    width: 115px;
    height: 30px;
    margin: 20px; 
    background-color: #72cb10;
}
.Mensagem-Sucesso {
	text-align: center;
	font-family: arial;
}
.aviso-erro {
	color: red;
	font-weight: bold;
}